@model PraslaBonnerWondwossenFinalProject.Models.SellViewModel

@{
    ViewBag.Title = "SaleSummary";
}

<h2>Summary of Sale</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">




        <dt>
            @Html.DisplayNameFor(model => model.Gains)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gains)
        </dd>
