@model IEnumerable<PraslaBonnerWondwossenFinalProject.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Select a transaction type</h2>

@using (Html.BeginForm())
        {
        <div class="form-horizontal">
            <div class="form-group">
                     Hello World
            </div>
       </div>    
    
    }
