@model  PraslaBonnerWondwossenFinalProject.Models.AppUser


@{
    ViewBag.Title = "Summary";
}

<h2>Accounts</h2>

<div>
    <hr />
        
    @if (ViewBag.hasAccounts)
    {
    <table class="table table-bordered">
        <tr>
            <th>
                Account Number
            </th>
            <th>
                Account Name
            </th>
            <th>
                Account Type
            </th>
        </tr>
        @foreach (var item in Model.BankAccounts)
        {
        <tr>
                <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
        </tr>
        }
    </table>
    }
    else{
        <p> You have no Accounts. Would you like to open an account?</p>
    }

</div>


