@model IEnumerable<PraslaBonnerWondwossenFinalProject.Models.AppUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Edit Account", "Edit")
</p>

<p>

    <!--Need to add this view. Should be the list of all classified as customers. Include the option to edit customer and within that disable customer. Can change customer pw w/o entering old pw-->
    @Html.ActionLink("View All Customers", "List", "Customers")
</p>

<p>

    <!--Need to add transaction folder with a index view. Employees should be able to see details but NOT dispute-->
    @Html.ActionLink("View All Transactions", "Index", "Transactions")
</p>