@model PraslaBonnerWondwossenFinalProject.Models.StockPortfolio

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Apply for a Stock Portfolio</h4>
        <p>

        </p>
        <p>

        </p>
        <!---TODO: Maybe something fancy here like "Each new customer must apply for a bank acconut-->
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply" class="btn btn-default" />
            </div>
        </div>
    </div>

}


