@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>

<h4>Error: Cannot complete action because stock portfolio has already been created</h4>



    @Html.ActionLink("OK", "Index", "Customers", null, new { @class = "btn btn-success" })
